.crossKeys {
    position: relative;

    button {
        width: 40px;
        height: 40px;

        border: 1px solid black;
        border-radius: 20px;
    }

    &__up {
        position: absolute;
        left: 40px;
    }

    &__left {
        position: absolute;
        top: 40px;
        left: 0;
    }

    &__right {
        position: absolute;
        top: 40px;
        left: 80px;
    }

    &__down {
        position: absolute;
        top: 80px;
        left: 40px;
    }
}
