.cell {
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    width: 18px;
    height: 18px;

    &--lightBlue {
        background-color: #a1edff;

        &--ghost {
            background-color: black;
        }

        &--template {
            background-color: rgba(161, 237, 255, 0.2);
        }
    }

    &--yellow {
        background-color: yellow;

        &--ghost {
            background-color: black;
        }

        &--template {
            background-color: rgba(255, 255, 0, 0.2);
        }
    }

    &--purple {
        background-color: purple;

        &--ghost {
            background-color: black;
        }

        &--template {
            background-color: rgba(128, 0, 128, 0.2);
        }
    }

    &--green {
        background-color: #4ec14e;

        &--ghost {
            background-color: black;
        }

        &--template {
            background-color: rgba(78, 193, 78, 0.2);
        }
    }

    &--red {
        background-color: red;

        &--ghost {
            background-color: black;
        }

        &--template {
            background-color: rgba(255, 0, 0, 0.2);
        }
    }

    &--orange {
        background-color: orange;

        &--ghost {
            background-color: black;
        }

        &--template {
            background-color: rgba(255, 165, 0, 0.2);
        }    }

    &--blue {
        background-color: blue;

        &--ghost {
            background-color: black;
        }

        &--template {
            background-color: rgba(0, 0, 255, 0.2);
        }
    }
}
