.historyBack {
    margin-top: 10px;
}

.clear {
    color: red;
    font-weight: bold;

    border: 2px solid red;
    border-radius: 4px;

    text-align: center;

    width: 40px;
    padding: 10px 0;
    margin: 20px auto;
}
