.triggerButton {
    width: 100%;
}

.copiedMessage {
    margin-left: 10px;
    color: green;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.newButton {
    width: 100%;
    margin-top: 10px;
}

.retryButtonContainer {
    margin-top: 20px;
}

.retryButton {
    width: 100%;
}

.bar {
    margin-top: 20px;
}

.templateButton {
    margin-top: 20px;
}

.templateAreaContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.templateTextArea {
    flex-grow: 1;
}

.templateIconContainer {
    margin-left: 10px;
}

.seedInput {
    width: 100px;
}
