.triggerButton {
    width: 100%;
}

.newButton {
    display: flex;
    flex-direction: column;
}

.retryButton {
    margin-top: 10px;
}

.bar {
    margin-top: 10px;
}

.templateButton {
    margin-top: 10px;
}

.templateAreaContainer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.templateTextArea {
    flex-grow: 1;
}

.templateIconContainer {
    margin-left: 10px;
}
