.triggerButton {
    width: 100%;
}

.newButton {
    display: flex;
    flex-direction: column;
}

.retryButton {
    margin-top: 10px;
}

.bar {
    margin-top: 10px;
}

.templateButton {
    margin-top: 10px;
}
