.cell {
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    width: 18px;
    height: 18px;

    &--lightBlue {
        background-color: #a1edff;
    }

    &--yellow {
        background-color: yellow;
    }

    &--purple {
        background-color: purple;
    }

    &--green {
        background-color: #4ec14e;
    }

    &--red {
        background-color: red;
    }

    &--orange {
        background-color: orange;
    }

    &--blue {
        background-color: blue;
    }
}
